<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="container">
    <div class="section">
        <div class="header">
            
            <main id="main" class="site-main main">

            <section class="hero">
            <div class="container">
                <img src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/elements/bootstrap-stack.png" srcset="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/elements/bootstrap-stack.png 1x, https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/elements/bootstrap-stack@2x.png 2x">
                <h1 class="display-1 text-bold">Hyperledger Fabric Fabcar Example</h1>
                <h5 class="text-gray-soft text-regular">자동차정보 저장을 위한 프라이빗블록체인 구현</h5>
                <br>
                <br>
            </div>
            </section>

            </main>
            <img src="structure.jpg"  width=640>
        </div>
    </div>
    </div>
</body>

</html>