<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="container">
    <div class="section">
        <div class="header">
    
            <div class="card w-75">
                <div class="card-body">
                  <h5 class="card-title">1. 웹클라이언트</h5>
                  <p class="card-text"> http://localhost:8800 </p>
                  <a target="_blank" href="http://localhost:8800" class="btn btn-primary">접속</a>
                </div>
            </div>
            <br>
            <div class="card w-75">
              <div class="card-body">
                <h5 class="card-title">1. Couch DB client</h5>
                <p class="card-text"> http://localhost:5984/_utils </p>
                <a target="_blank" href="http://localhost:5984/_utils" class="btn btn-primary">접속</a>
              </div>
            </div>
              <br>
              <br>
              <br>
              <br>
              
            </div>

        </div>
    </div>
    </div>
</body>

</html>