<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="container">
    <div class="section">
        <div class="header">
    
            <div class="card w-75">
                <div class="card-body">
                  <h5 class="card-title">1. 필요모듈 설치</h5>
                  <p class="card-text"> cd ~/fabric-samples/fabcar/javascript </p>
                  <p class="card-text"> npm install </p>
                  <a target="_blank" href="/websrv/1"  class="btn btn-primary">수행</a>
                </div>
              </div>
              <br>
              <div class="card w-50">
                <div class="card-body">
                  <h5 class="card-title">2. 인증서 생성</h5>
                  <p class="card-text">node enrollAdmin.js</p>
                  <p class="card-text">node registerUser.js</p>
                  <p class="card-text">tree wallet</p>
                  <a target="_blank" href="/websrv/2" class="btn btn-primary">관리자 인증서받기</a>
                  <a target="_blank" href="/websrv/3" class="btn btn-primary">User1 인증서받기</a>
                  <a target="_blank" href="/websrv/4" class="btn btn-primary">인증서보기</a>
              </div>
              <br>
              <div class="card w-50">
                <div class="card-body">
                  <h5 class="card-title">3. query 하기</h5>
                  <p class="card-text">node query.js                </p>
                  <a target="_blank" href="/websrv/5" class="btn btn-primary">수행</a>
              </div>
              <br>
              <div class="card w-50">
                <div class="card-body">
                  <h5 class="card-title">4. invoke 하기</h5>
                  <p class="card-text">node invoke.js            </p>
                  <a target="_blank" href="/websrv/6" class="btn btn-primary">수행</a>
              </div>
              <br>
              <div class="card w-50">
                <div class="card-body">
                  <h5 class="card-title">5. 웹서버 시작하기</h5>
                  <p class="card-text">node server.js          </p>
                  <a target="_blank" href="/websrv/7" class="btn btn-primary">수행</a>
              </div>
              <br>
              <br>
              <br>
              <br>
              
            </div>

        </div>
    </div>
    </div>
</body>

</html>